version: "3.9"

services:
  backend:
    build: ./backend
    container_name: chickorder-backend
    env_file:
      - backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: chickorder-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: chickorder-db
    restart: always
    environment:
      POSTGRES_USER: chickorder
      POSTGRES_PASSWORD: chickorderpass
      POSTGRES_DB: chickorderdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  postgres_data:
